<h1>India Comedy Factory</h1>
<h2>Click the joke to see the punch line</h2>
<ul>
  <% @joke_list.each do |chuckle|%>
    <li>
      <%= link_to "Joke: #{chuckle.joke}",  comedy_path(chuckle) %>
    </li>
  <% end %>
</ul>